{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "dotenv-import",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "utils": "./libs/utils",
          "services": "./libs/services",
          "constants": "./constants",
          "helpers": "./helpers",
          "controllers": "./controllers"
        }
      }
    ]
  ]
}
